<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeenal_h.scheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/scheduler_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TeacherDatabase"
            android:label="@string/title_activity_teacher_database"></activity>
        <activity android:name=".StudentDatabase"
            android:label="@string/title_activity_student_database"/>
        <activity android:name=".DeleteTeacher"
            android:label="@string/title_activity_delete_teacher"/>
        <activity android:name=".DeleteStudent"
            android:label="@string/title_activity_delete_student"/>
        <activity android:name=".UpdateTeacher"
            android:label="@string/title_activity_update_teacher"/>
        <activity android:name=".UpdateStudent"
            android:label="@string/title_activity_update_student"/>
        <activity android:name=".AddStudent"
            android:label="@string/title_activity_add_student"/>
        <activity android:name=".AddTeacher"
            android:label="@string/title_activity_add_teacher"/>
        <activity
            android:name=".TeacherLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeacherRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Batch4"
            android:label="@string/title_activity_batch4"
            android:parentActivityName=".ScheduleForStudents"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeenal_h.scheduler.ScheduleForStudents" />
        </activity>
        <activity
            android:name=".Batch3"
            android:label="@string/title_activity_batch3"
            android:parentActivityName=".ScheduleForStudents"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeenal_h.scheduler.ScheduleForStudents" />
        </activity>
        <activity
            android:name=".Batch2"
            android:label="@string/title_activity_batch2"
            android:parentActivityName=".ScheduleForStudents"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeenal_h.scheduler.ScheduleForStudents" />
        </activity>
        <activity
            android:name=".Batch1"
            android:label="@string/title_activity_batch1"
            android:parentActivityName=".ScheduleForStudents"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeenal_h.scheduler.ScheduleForStudents" />
        </activity>
        <activity
            android:name=".ScheduleForTeachers"
            android:label="@string/title_activity_schedule_for_teachers"
            android:parentActivityName=".Schedule"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeenal_h.scheduler.Schedule" />
        </activity>
        <activity
            android:name=".ScheduleForStudents"
            android:label="@string/title_activity_schedule_for_students"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".T_WeeklySchedule"
            android:label="@string/title_activity_t__weekly_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".S_WeeklySchedule"
            android:label="@string/title_activity_s__weekly_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teacher"
            android:label="@string/title_activity_teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeacherDetails"
            android:label="@string/title_activity_teacher_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentDetails"
            android:label="@string/title_activity_student_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminNotes"
            android:label="My Notes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminDisplayNote"
            android:label="Notepad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentNotes"
            android:label="My Notes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentDisplayNote"
            android:label="Notepad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherNotes"
            android:label="My Notes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherDisplayNote"
            android:label="Notepad"
            android:screenOrientation="portrait" />
    </application>

</manifest>